* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

.container {
	background-color: red;
	width: 70%;
	margin: 0 auto;
}

.cabecalho {
	background-color: #8B008B;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	padding: 2% 0;
	justify-content: space-between;
}

.menu a {
	text-decoration: none;
	color: #FFFFFF;
}

.Erro{
	background-color: #f3544b;
	color: #ff1111;
	border: 2px solid #ff2020;
	font-size: 2rem;	
}

.tabelaCarro {
	border-collapse: collapse;
	border: 2px solid #000000;
	margin: 0 auto;
	width: 80%;
	font-family: Arial, Verdana, Sans-Serif;
}

.tabelaCarro thead th {
	border: 2px solid #000000;
	padding: 10px;
	text-align: center;
}

.tabelaCarro tbody td {
	border: 2px solid #000000;
	padding: 10px;
	text-align: center;
}

.tabelaCarro tfoot td {
	border: 2px solid #000000;
	padding: 10px;
	text-align: center;
}

.tabelaCarro tbody tr:hover {
	background-color: #c1c1c1;
}