* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}


.container {
	background-color: #000000;
	width: 70%;
	margin: 0 auto;	
	color: white;
}

.cabecalho {
	background-color: #363636;	
	color: white;
	display: flex;
	flex-direction: row;
	padding: 5% 0;
	justify-content: space-between;
}

.menu a {
	text-decoration: none;
	color: white;	
}

.Erro {
	background-color: #f2261c;
	color: #f95969;
	border: 2px solid #ff2222;
	font-size: 2reim;
}
